<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
import pandas as pd
import numpy as np

## Условие 1: Задача 1
- Скачать данные по ссылке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк

In [97]:
df = pd.read_csv('kc_house_data.csv', encoding='1251', index_col='id', parse_dates=['date'], dayfirst=False )
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,"221,900.000",3,1.000,1180,5650,1.000,0,0,3,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650
6414100192,2014-12-09,"538,000.000",3,2.250,2570,7242,2.000,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639
5631500400,2015-02-25,"180,000.000",2,1.000,770,10000,1.000,0,0,3,6,770,0,1933,0,98028,47.738,-122.233,2720,8062
2487200875,2014-12-09,"604,000.000",4,3.000,1960,5000,1.000,0,0,5,7,1050,910,1965,0,98136,47.521,-122.393,1360,5000
1954400510,2015-02-18,"510,000.000",3,2.000,1680,8080,1.000,0,0,3,8,1680,0,1987,0,98074,47.617,-122.045,1800,7503

In [98]:
df.dtypes

date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [99]:
df['delta_renovated'] = df['yr_renovated']- df['yr_built']
df['delta_renovated'] = df['delta_renovated'].where(df['delta_renovated'] > 0, other = 0)
df.sample(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
id,,,,,,,,,,,,,,,,,,,,,
259801140,2014-12-12,"451,000.000",4,1.750,1680,7800,1.000,0,0,3,...,1330,350,1966,0,98008,47.629,-122.118,1680,7210,0
1794500870,2015-03-27,"710,000.000",3,1.000,1400,2250,1.500,0,0,3,...,1400,0,1909,0,98119,47.637,-122.358,1630,3600,0
1843130360,2015-05-07,"295,000.000",3,2.500,2030,4867,2.000,0,0,3,...,2030,0,2003,0,98042,47.375,-122.128,2030,5000,0
2024059084,2015-03-13,"625,000.000",4,2.750,2290,21486,1.000,0,2,5,...,2290,0,1963,0,98006,47.551,-122.189,2540,15936,0
7853321180,2014-12-22,"465,000.000",5,2.500,2550,6405,2.000,0,0,3,...,2550,0,2008,0,98065,47.519,-121.869,2190,5900,0

### 1.3 Создайте признаки года продажи, месяца продажи

In [100]:
df['year_of_sale'] =pd.DatetimeIndex(df['date']).year
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale
id,,,,,,,,,,,,,,,,,,,,,
2310110120,2014-08-08,"365,000.000",3,2.500,2190,5091,2.000,0,0,3,...,0,2004,0,98038,47.351,-122.039,2200,5948,0,2014

In [101]:
df['month_of_sale'] =pd.DatetimeIndex(df['date']).month
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,,,
3391500050,2014-07-03,"1,875,000.000",4,3.250,3930,10929,2.000,0,0,3,...,2006,0,98004,47.626,-122.194,1780,9999,0,2014,7

### 1.4 Удалите признаки date, zipcode, lat, long

In [102]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.sample(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,
5437810360,"224,500.000",3,1.750,1300,7735,1.000,0,0,4,7,1300,0,1980,0,1300,8941,0,2014,11
7214720075,"699,950.000",3,2.250,2190,107593,2.000,0,0,4,8,2190,0,1983,0,2570,47777,0,2014,12
625100181,"535,000.000",4,2.500,2280,65836,2.000,0,0,3,8,2280,0,2004,0,2300,97574,0,2014,5
3832050890,"282,000.000",3,2.500,2010,5399,2.000,0,0,3,7,2010,0,2006,0,2280,5141,0,2014,7
2597150270,"312,000.000",4,2.500,1790,10584,1.000,0,0,4,7,1290,500,1981,0,1730,9120,0,2015,4

## Условие 2: 2 задача
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [103]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,
                                       280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589,
                                       3317, 2260, 1727, 1764, 1611, 1474],
                          'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300,
                                       7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142,
                                       6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154,
                                       1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066,
                                       8146100580, 825069097, 3889100029, 9524100196] })
clients.set_index('house_id', inplace=True)
clients.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

### 2.1 Присоедините к таблице clients данные по домам через метод join

In [104]:
joined = clients.join(df)
joined

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
339600110,4809,"395,000.000",3,2.500,1610,3755,2.000,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
809001400,3113,"925,000.000",3,1.000,1630,3200,1.500,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
825069097,1764,"770,000.000",3,2.500,2650,40705,2.000,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
1099600250,2242,"260,000.000",3,1.750,1710,6400,1.000,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,"387,000.000",2,2.500,1170,1394,2.000,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,"518,000.000",4,2.750,2520,14021,2.000,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,6
1622049154,2134,"289,900.000",3,1.750,1899,11325,2.000,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,"190,000.000",3,1.000,1200,10458,1.000,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,"180,000.000",3,1.000,1610,8500,1.500,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,4
2131701075,3942,"420,000.000",3,1.750,1720,5000,1.500,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
2768100205,4929,"519,000.000",4,2.500,1950,2617,1.500,0,0,4,7,1250,700,1910,0,1520,1438,0,2014,6
3123049142,280,"452,000.000",3,2.250,2600,14810,1.000,0,2,4,8,1490,1110,1956,0,2450,16715,0,2014,8
3303980210,3317,"1,115,000.000",4,3.750,4040,14212,2.000,0,0,3,11,4040,0,2002,0,3940,14212,0,2015,4
3889100029,1611,"810,000.000",3,2.500,2670,10481,2.000,0,0,3,9,2670,0,2003,0,2620,8895,0,2014,6
3995700435,1384,"265,000.000",4,3.000,1940,8170,1.000,0,0,4,7,1940,0,1948,0,1310,8169,0,2014,7
5083000375,4332,"170,000.000",3,1.000,1310,9529,1.000,0,0,3,7,1310,0,1956,0,1330,9529,0,2014,10
5083000375,4332,"235,000.000",3,1.000,1310,9529,1.000,0,0,3,7,1310,0,1956,0,1330,9529,0,2015,3
5104540330,3498,"679,000.000",4,2.500,3680,7236,2.000,0,0,3,10,3680,0,2006,0,3310,7180,0,2015,5
5428000070,2295,"770,000.000",5,3.500,4750,8234,2.000,0,2,3,10,3350,1400,2013,0,2160,14496,0,2015,5
6131600255,4236,"202,500.000",3,2.000,1540,8316,1.000,0,0,5,6,1540,0,1954,0,1250,8316,0,2014,12
6306800010,20,"436,472.000",4,2.500,2692,8392,2.000,0,0,3,9,2692,0,2014,0,2574,14446,0,2014,8
6821600300,2866,"886,000.000",3,2.250,2380,6000,2.000,0,0,5,9,1650,730,1931,0,2000,6000,0,2015,3
6823100225,4684,"700,000.000",4,1.750,1870,6000,1.000,0,0,5,8,1670,200,1949,0,1710,6000,0,2015,4
7137950720,2765,"339,100.000",4,2.500,2350,10655,2.000,0,0,3,8,2350,0,1992,0,2210,7028,0,2015,3
7731100066,2260,"545,000.000",3,1.000,1510,5000,1.500,0,0,3,7,1510,0,1909,0,1680,4000,0,2014,6
7920100025,3475,"450,000.000",2,1.000,740,5100,1.000,0,0,4,7,740,0,1947,0,920,5100,0,2015,4
8100400160,3840,"700,000.000",3,2.250,2330,11424,2.000,0,0,4,8,2330,0,1984,0,2050,11448,0,2015,4
8146100580,1727,"765,000.000",3,1.000,1220,7585,1.000,0,0,4,7,1220,0,1954,0,1380,8918,0,2014,10
8563000110,2068,"427,000.000",4,1.750,1460,9750,1.000,0,0,4,7,1460,0,1967,0,1820,9840,0,2015,4
8861700030,1589,"510,000.000",3,1.500,2400,10275,1.000,0,0,4,8,1540,860,1964,0,2380,10125,0,2014,12
8965450190,1459,"295,000.000",3,2.500,1500,3060,2.000,0,0,3,7,1500,0,1994,0,2700,7734,0,2015,2
9510920050,1472,"725,000.000",3,2.500,2980,16996,2.000,0,0,3,10,2980,0,1992,0,2980,15438,0,2014,9
9524100196,1474,"239,000.000",2,1.500,680,772,2.000,0,0,3,7,680,0,2005,0,690,1059,0,2014,11

In [105]:
df.reset_index(inplace=True)
clients.reset_index(inplace=True)

### 2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [106]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged

,house_id,client_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,8965450190,1459,8965450190,"295,000.000",3,2.500,1500,3060,2.000,0,...,7,1500,0,1994,0,2700,7734,0,2015,2
1,6823100225,4684,6823100225,"700,000.000",4,1.750,1870,6000,1.000,0,...,8,1670,200,1949,0,1710,6000,0,2015,4
2,5104540330,3498,5104540330,"679,000.000",4,2.500,3680,7236,2.000,0,...,10,3680,0,2006,0,3310,7180,0,2015,5
3,2131701075,3942,2131701075,"420,000.000",3,1.750,1720,5000,1.500,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,1522700060,4535,1522700060,"518,000.000",4,2.750,2520,14021,2.000,0,...,9,2520,0,1999,0,2330,14007,0,2014,6
5,1189000207,2308,1189000207,"387,000.000",2,2.500,1170,1394,2.000,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,6821600300,2866,6821600300,"886,000.000",3,2.250,2380,6000,2.000,0,...,9,1650,730,1931,0,2000,6000,0,2015,3
7,7137950720,2765,7137950720,"339,100.000",4,2.500,2350,10655,2.000,0,...,8,2350,0,1992,0,2210,7028,0,2015,3
8,9510920050,1472,9510920050,"725,000.000",3,2.500,2980,16996,2.000,0,...,10,2980,0,1992,0,2980,15438,0,2014,9
9,6131600255,4236,6131600255,"202,500.000",3,2.000,1540,8316,1.000,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,5428000070,2295,5428000070,"770,000.000",5,3.500,4750,8234,2.000,0,...,10,3350,1400,2013,0,2160,14496,0,2015,5
11,1788800910,939,1788800910,"190,000.000",3,1.000,1200,10458,1.000,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,8100400160,3840,8100400160,"700,000.000",3,2.250,2330,11424,2.000,0,...,8,2330,0,1984,0,2050,11448,0,2015,4
13,3123049142,280,3123049142,"452,000.000",3,2.250,2600,14810,1.000,0,...,8,1490,1110,1956,0,2450,16715,0,2014,8
14,6306800010,20,6306800010,"436,472.000",4,2.500,2692,8392,2.000,0,...,9,2692,0,2014,0,2574,14446,0,2014,8
15,5083000375,4332,5083000375,"170,000.000",3,1.000,1310,9529,1.000,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,5083000375,4332,5083000375,"235,000.000",3,1.000,1310,9529,1.000,0,...,7,1310,0,1956,0,1330,9529,0,2015,3
17,7920100025,3475,7920100025,"450,000.000",2,1.000,740,5100,1.000,0,...,7,740,0,1947,0,920,5100,0,2015,4
18,1951600150,4213,1951600150,"180,000.000",3,1.000,1610,8500,1.500,0,...,7,1610,0,1959,0,1070,8750,0,2015,4
19,809001400,3113,809001400,"925,000.000",3,1.000,1630,3200,1.500,0,...,8,1630,0,1912,0,1710,3600,0,2014,9
20,339600110,4809,339600110,"395,000.000",3,2.500,1610,3755,2.000,0,...,7,1610,0,1987,0,1300,3823,0,2014,9
21,1622049154,2134,1622049154,"289,900.000",3,1.750,1899,11325,2.000,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,1099600250,2242,1099600250,"260,000.000",3,1.750,1710,6400,1.000,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,8563000110,2068,8563000110,"427,000.000",4,1.750,1460,9750,1.000,0,...,7,1460,0,1967,0,1820,9840,0,2015,4
24,2768100205,4929,2768100205,"519,000.000",4,2.500,1950,2617,1.500,0,...,7,1250,700,1910,0,1520,1438,0,2014,6
25,3995700435,1384,3995700435,"265,000.000",4,3.000,1940,8170,1.000,0,...,7,1940,0,1948,0,1310,8169,0,2014,7
26,8861700030,1589,8861700030,"510,000.000",3,1.500,2400,10275,1.000,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3303980210,3317,3303980210,"1,115,000.000",4,3.750,4040,14212,2.000,0,...,11,4040,0,2002,0,3940,14212,0,2015,4
28,7731100066,2260,7731100066,"545,000.000",3,1.000,1510,5000,1.500,0,...,7,1510,0,1909,0,1680,4000,0,2014,6
29,8146100580,1727,8146100580,"765,000.000",3,1.000,1220,7585,1.000,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,825069097,1764,825069097,"770,000.000",3,2.500,2650,40705,2.000,0,...,9,2650,0,1994,0,2550,42625,0,2014,6
31,3889100029,1611,3889100029,"810,000.000",3,2.500,2670,10481,2.000,0,...,9,2670,0,2003,0,2620,8895,0,2014,6
32,9524100196,1474,9524100196,"239,000.000",2,1.500,680,772,2.000,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Условие 3: 3 задача
Составьте несколько сводных таблиц
### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален

In [107]:
pd.options.display.float_format = '{:,.3f}'.format
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1          317,642.884
2          401,372.682
0          409,503.846
3          466,232.078
11         520,000.000
4          635,419.504
33         640,000.000
5          786,599.829
10         819,333.333
6          825,520.636
9          893,999.833
7          951,184.658
8        1,105,076.923

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома