<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

## Условие 1: 1 задача
- Скачать файл в уроке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [4]:
df = pd.read_csv('kc_house_data.csv', encoding='1251')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [ ]:
df = pd.read_csv('kc_house_data.csv', encoding='1251')
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
df.shape

(21613, 21)

- id - Уникальный ID для каждого дома
- date - Дата продажи дома
- price - Стоимость продажи дома
- bedrooms - Кол-во спален
- bathrooms - Кол-во ванных комнат (0.5 - туалет без душа)
- sqft_living - Кв. метры жилые
- sqft_lot - Кв. метры общие
- floors - Кол-во этажей
- waterfront - Есть набержная или нет
- view - Значение от 0 до 4 насколько хороший вид
- condition - Значение от 1 до 5 насколько хорошее состояние
- grade - Значение от 1 до 13, где 1-3 плохая конструкция здания и дизайн, 7 - средний уровень конструкции и дизайна, 11-13 - высокое качество конструкции и дизайна
- sqft_above - Кв. метры дома, которые находятся выше земли
- sqft_basement - Кв. метры дома, которые находятся ниже земли
- yr_built - Год постройки дома
- yr_renovated - Год ремонта дома
- zipcode - Индекс
- lat - Широта
- long - Долгота
- sqft_living15 - Кв. метры жилой площади у 15 соседей
- sqft_lot15 - Кв. метры общей площади у 15 соседей

## Условие 2: 2 задача
Проведите первичный анализ данных
- Изучите типы данных
- Найдите количество пропущенных ячеек в данных
- Посчитайте основные статистики по всем признакам и поизучайте их
- Пишите выводы

In [ ]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [ ]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [ ]:
df.describe()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

In [ ]:
df['price'].mean()

540088.1417665294

In [ ]:
df.describe(include=['object'])

                   date
count             21613
unique              372
top     20140623T000000
freq                142

Достаточно сложно сделать выводы по основным статистикам. Из того, что видно на первый взгляд: можно определить средние, медианные и минимальные значения стоимости дома, количество спален, ванных комнат и площади домов.

## Условие 3: 3 задача
Ответьте на несколько вопросов
### 3.1 В каком диапазоне изменяются стоимости недвижимости?

In [ ]:
df['price'].min(),df['price'].max()

(75000.0, 7700000.0)

In [ ]:
df.sort_values('price')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800

### 3.2 Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [ ]:
liv_sq =round(df['sqft_living'].mean(), 2)
liv_sq

2079.9

In [ ]:
total_sq =round(df['sqft_lot'].mean(), 2)
total_sq

15106.97

In [ ]:
part_sq = liv_sq / total_sq*100
part_sq

13.767817106938057

В среднем жилая площадь занимает 13% от общей площади дома

### 3.3 Как много домов с разными этажами в данных?

In [ ]:
df['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

In [ ]:
df['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

### 3.4 Насколько хорошие состояния у домов в данных?

In [ ]:
df['condition'].value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [ ]:
df['condition'].mean()

3.4094295100171195

В среднем состояние домов выше среднего

### 3.5 Найдите года, когда построили первый дом, когда построили последний дом в данных?

*Не очень поняла задание, поэтому нашла самый старый и самый новый дом. И вторым вариантом выбрала год постройки первого и последнего дома по таблице*

In [ ]:
df['yr_built'].min(),df['yr_built'].max()

(1900, 2015)

In [ ]:
df.sort_values('yr_built')

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
4697,9126101645,20140610T000000,558000.0,4,2.00,2180,3870,1.0,0,0,...,7,1020,1160,1900,0,98122,47.6089,-122.303,1520,2580
2961,1947300115,20140619T000000,464000.0,3,1.00,1320,3625,2.0,0,0,...,7,1320,0,1900,0,98122,47.6049,-122.288,1660,5438
12369,9138100350,20150218T000000,685000.0,4,2.00,2290,6000,1.5,0,3,...,7,2290,0,1900,0,98115,47.6807,-122.318,2000,3150
15016,1703400585,20141215T000000,325000.0,3,2.00,2330,4950,1.5,0,0,...,6,1430,900,1900,0,98118,47.5585,-122.290,1160,5115
5236,844000425,20141223T000000,199999.0,3,1.00,960,10815,1.0,0,0,...,5,960,0,1900,0,98010,47.3091,-122.006,1330,10815
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21270,1773100541,20150417T000000,389950.0,3,2.25,1580,920,3.0,0,0,...,8,1580,0,2015,0,98106,47.5578,-122.363,1250,1150
17098,9126100346,20140617T000000,350000.0,3,2.00,1380,3600,3.0,0,0,...,8,1380,0,2015,0,98122,47.6074,-122.305,1480,3600
7526,9520900210,20141231T000000,614285.0,5,2.75,2730,6401,2.0,0,0,...,8,2730,0,2015,0,98072,47.7685,-122.160,2520,6126
20086,2768100512,20150422T000000,659000.0,2,2.50,1450,1213,2.0,0,0,...,9,1110,340,2015,0,98107,47.6692,-122.372,1620,1456
14489,2770601530,20140826T000000,500000.0,2,2.25,1570,1269,2.0,0,0,...,9,1280,290,2015,0,98199,47.6514,-122.385,1570,6000

In [ ]:
df.loc[0]['yr_built']

1955

In [ ]:
df.loc[21612]['yr_built']

2008

## Условие 4: 4 задача
Ответьте на несколько вопросов

### 4.1 Сколько в среднем стоят дома, у которых 2 спальни?

In [ ]:
df[df['bedrooms'] == 2]['price'].mean()

401372.681884058

### 4.2 Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [ ]:
df[df['price'] > 600000]['sqft_lot'].mean()

20442.524776214832

### 4.3 Как много домов коснулся ремонт?

In [ ]:
df[df['yr_renovated'] != 0].shape[0]

914

In [ ]:
df[df['yr_renovated'] != 0]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,8,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264
95,1483300570,20140908T000000,905000.0,4,2.50,3300,10250,1.0,0,0,...,7,2390,910,1946,1991,98040,47.5873,-122.249,1950,6045
103,2450000295,20141007T000000,1088000.0,3,2.50,2920,8113,2.0,0,0,...,8,2920,0,1950,2010,98004,47.5814,-122.196,2370,8113
115,3626039325,20141121T000000,740500.0,3,3.50,4380,6350,2.0,0,0,...,8,2780,1600,1900,1999,98117,47.6981,-122.368,1830,6350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19622,7351200295,20150114T000000,1150000.0,3,1.75,1760,6788,2.0,1,4,...,7,1760,0,1940,1960,98125,47.7336,-122.284,1630,7588
20057,126039256,20140904T000000,434900.0,3,2.00,1520,5040,2.0,0,0,...,7,1520,0,1977,2006,98177,47.7770,-122.362,1860,8710
20444,4305600360,20150225T000000,500012.0,4,2.50,2400,9612,1.0,0,0,...,8,1230,1170,1962,2009,98059,47.4799,-122.127,2430,5539
20447,3319500628,20150212T000000,356999.0,3,1.50,1010,1546,2.0,0,0,...,8,1010,0,1971,2014,98144,47.5998,-122.311,1010,1517
20962,1278000210,20150311T000000,110000.0,2,1.00,828,4524,1.0,0,0,...,6,828,0,1968,2007,98001,47.2655,-122.244,828,5402

### 4.4 Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [ ]:
best_house = df[df['grade'] > 10]['price'].mean()
best_house

1678635.1175298805

In [ ]:
worst_house = df[df['grade'] < 4]['price'].mean()
worst_house

189750.0

In [ ]:
diff = round(best_house / worst_house, 2)
diff

8.85

*В среднем стоимость домов с оценкой больше 10 выше в 9 раз*

## Условие 5: 5 задача
Ответьте на несколько вопросов
### 5.1 Выберите дом клиенту
Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [13]:
df[(df['waterfront'] == 1) & (df['bathrooms'] >= 3) & (df['sqft_basement'] > 0)]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
300,3225069065,20140624T000000,3075000.0,4,5.00,4550,18641,1.0,1,4,...,10,2600,1950,2002,0,98074,47.6053,-122.077,4550,19508
457,2122039094,20141126T000000,705000.0,3,3.00,1970,20978,2.0,1,3,...,9,1770,200,1980,0,98070,47.3844,-122.438,2280,75396
1164,1247600105,20141020T000000,5110800.0,5,5.25,8010,45517,2.0,1,4,...,12,5990,2020,1999,0,98033,47.6767,-122.211,3430,26788
1261,7636800041,20140625T000000,995000.0,3,4.50,4380,47044,2.0,1,3,...,9,3720,660,1968,1990,98166,47.4734,-122.365,2460,18512
1315,7558700030,20150413T000000,5300000.0,6,6.00,7390,24829,2.0,1,4,...,12,5000,2390,1991,0,98040,47.5631,-122.210,4320,24619
1361,1925069082,20150511T000000,2200000.0,5,4.25,4640,22703,2.0,1,4,...,8,2860,1780,1952,0,98052,47.6393,-122.097,3140,14200
2626,7738500731,20140815T000000,4500000.0,5,5.50,6640,40014,2.0,1,4,...,12,6350,290,2004,0,98155,47.7493,-122.280,3030,23408
2864,4114601570,20141118T000000,3600000.0,3,3.25,5020,12431,2.0,1,4,...,10,3420,1600,1941,2002,98144,47.5925,-122.287,3680,12620
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
3934,1269200229,20140723T000000,1379900.0,3,3.25,3786,38038,1.0,1,4,...,9,1934,1852,1978,2006,98070,47.3907,-122.448,2850,33361
5760,623059016,20140717T000000,1100000.0,4,3.25,3190,11774,2.0,1,4,...,8,2610,580,1956,1991,98178,47.5033,-122.225,2240,8725
6233,2024069008,20140619T000000,2200000.0,5,4.75,5990,10450,2.0,1,4,...,11,4050,1940,2002,0,98027,47.5554,-122.077,3330,14810
6508,4217402115,20150421T000000,3650000.0,6,4.75,5480,19401,1.5,1,4,...,11,3910,1570,1936,0,98105,47.6515,-122.277,3510,15810
7989,9362000040,20140623T000000,3400000.0,3,4.50,5230,17826,2.0,1,4,...,10,3740,1490,2005,0,98040,47.5348,-122.243,3670,17826
8092,1924059029,20140617T000000,4668000.0,5,6.75,9640,13068,1.0,1,4,...,12,4820,4820,1983,2009,98040,47.5570,-122.210,3270,10454
8163,1724069079,20150319T000000,1452000.0,2,3.25,2070,3128,2.0,1,3,...,9,1760,310,1988,0,98075,47.5686,-122.060,2740,3568
8784,3343302110,20150306T000000,1800000.0,3,3.00,2790,13295,2.0,1,4,...,10,2370,420,1933,1989,98006,47.5466,-122.197,3140,11949
10263,625059036,20140813T000000,2700000.0,5,4.00,4230,27295,2.0,1,4,...,8,3230,1000,1949,1985,98033,47.6803,-122.214,2660,27295
11257,3761100045,20140618T000000,3000000.0,4,4.25,4850,12445,2.0,1,4,...,10,3850,1000,1989,0,98034,47.7011,-122.244,3350,12210
11402,3426049284,20140819T000000,2300000.0,4,3.25,4110,15929,2.0,1,4,...,12,2720,1390,2001,0,98115,47.6934,-122.271,2640,15929
11424,5119400075,20140620T000000,950000.0,3,3.25,3050,18892,1.0,1,4,...,8,1650,1400,1962,0,98198,47.3881,-122.326,1170,70973
11446,624069035,20141209T000000,2750000.0,4,4.00,4130,5575,2.0,1,4,...,10,2860,1270,1993,0,98075,47.5968,-122.083,2980,5575
11844,2623039082,20150218T000000,770000.0,3,3.50,2050,21744,2.0,1,4,...,9,1750,300,1930,0,98166,47.4536,-122.376,2300,12200
12459,4114601580,20140724T000000,1900000.0,6,4.00,3020,13237,2.0,1,4,...,8,2840,180,1942,1983,98144,47.5924,-122.287,3680,12620
12935,3222049044,20140612T000000,835000.0,3,3.00,2790,12523,2.0,1,4,...,8,1600,1190,1977,0,98198,47.3571,-122.324,2990,11476
13710,2923500230,20141216T000000,2600000.0,4,4.50,5270,12195,2.0,1,4,...,11,3400,1870,1979,0,98027,47.5696,-122.090,3390,9905
13967,3126059023,20150303T000000,3395000.0,4,3.50,4730,47870,1.0,1,4,...,10,2940,1790,1954,0,98033,47.6967,-122.216,3250,49346
14083,3625059043,20140904T000000,3300000.0,5,4.75,6200,13873,2.0,1,4,...,11,4440,1760,1989,0,98008,47.6050,-122.112,2940,13525
14619,7936500109,20140725T000000,2230000.0,3,3.00,3620,28064,2.0,1,4,...,10,2370,1250,1977,0,98136,47.5516,-122.398,2550,34713
14822,3623500408,20150330T000000,2600000.0,3,3.00,3410,16015,2.0,1,4,...,10,2220,1190,1973,0,98040,47.5721,-122.239,3760,16572
15482,624069108,20140812T000000,3200000.0,4,3.25,7000,28206,1.0,1,4,...,12,3500,3500,1991,0,98075,47.5928,-122.086,4913,14663
15668,4030100290,20141001T000000,1680000.0,5,3.50,5170,7197,3.0,1,4,...,11,3520,1650,1998,0,98155,47.7561,-122.271,3020,12880
16817,825059178,20140923T000000,2574000.0,4,3.75,4475,20424,2.0,1,4,...,12,2659,1816,1999,0,98033,47.6646,-122.208,4340,5250
17767,7352200450,20150115T000000,2050000.0,4,3.25,3580,19989,1.5,1,4,...,7,3480,100,1915,1965,98125,47.7087,-122.276,2410,6389
18199,3625059152,20141230T000000,3300000.0,3,3.25,4220,41300,1.0,1,4,...,11,2460,1760,1958,1987,98008,47.6083,-122.110,3810,30401
18455,8043700300,20140608T000000,2700000.0,4,3.25,4420,7850,2.0,1,4,...,11,3150,1270,2001,0,98008,47.5720,-122.102,2760,8525
18556,6613000930,20140902T000000,2950000.0,4,3.25,3890,25470,2.0,1,3,...,10,3030,860,1923,0,98105,47.6608,-122.269,4140,19281
20325,518500480,20140811T000000,3000000.0,3,3.50,4410,10756,2.0,1,4,...,11,3430,980,2014,0,98056,47.5283,-122.205,3550,5634
20767,8043700105,20150417T000000,2300000.0,4,4.00,4360,8175,2.5,1,4,...,10,3940,420,2007,0,98008,47.5724,-122.104,2670,8525
21201,518500460,20141008T000000,2230000.0,3,3.50,3760,5634,2.0,1,4,...,11,2830,930,2014,0,98056,47.5285,-122.205,3560,5762
21576,9253900271,20150107T000000,3567000.0,5,4.50,4850,10584,2.0,1,4,...,10,3540,1310,2007,0,98008,47.5943,-122.110,3470,18270

Для клиента усть 41 предложение, отвечающее его условиям

### 5.2 Выберите дом клиенту
Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [34]:
client1 = df[(df['yr_built'] >= 1980) & (df['condition'] > 3) & ((df['view'] > 2) | (df['waterfront'] == 1))]
client1['price'].min(), client1['price'].max()

(420000.0, 5300000.0)

### 5.3 Выберите дом клиенту
Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [39]:
df[(df['sqft_basement'] == 0) & (df['floors'] == 2) & (df['price'] <= 150000)]['grade'].mean()

7.0