<a href="https://colab.research.google.com/github/Olga643/Example/blob/main/Untitled20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

## Условие 1: Задача 1
- Скачать данные по ссылке
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк

In [4]:
df = pd.read_csv('kc_house_data.csv', encoding='1251', index_col='id', parse_dates=['date'], dayfirst=False )
df.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,,,,,,,,,,,,,,,,,,,,
7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [5]:
df.dtypes

date             datetime64[ns]
price                   float64
bedrooms                  int64
bathrooms               float64
sqft_living               int64
sqft_lot                  int64
floors                  float64
waterfront                int64
view                      int64
condition                 int64
grade                     int64
sqft_above                int64
sqft_basement             int64
yr_built                  int64
yr_renovated              int64
zipcode                   int64
lat                     float64
long                    float64
sqft_living15             int64
sqft_lot15                int64
dtype: object

### 1.2 Создать новый признак delta_renovated, который будет содержать разницу в годах между годом реновацией дома и годом постройки дома
Если реновации дома не было, то в новом признаке поставьте 0

In [6]:
df['delta_renovated'] = df['yr_renovated']- df['yr_built']
df['delta_renovated'] = df['delta_renovated'].where(df['delta_renovated'] > 0, other = 0)
df.sample(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated
id,,,,,,,,,,,,,,,,,,,,,
1310930100,2015-03-18,525000.0,4,1.75,1570,16697,1.0,0,2,3,...,1030,540,1981,0,98052,47.6710,-122.135,1560,9698,0
259000240,2014-06-17,506000.0,3,1.75,2180,7700,1.0,0,0,3,...,1480,700,1961,0,98177,47.7594,-122.361,2180,7604,0
2821049048,2014-06-03,590000.0,4,4.25,2360,57514,2.0,0,0,4,...,2360,0,1939,1987,98003,47.2843,-122.294,2037,35733,48
3204300090,2014-11-10,640000.0,3,1.00,1210,3720,2.0,0,0,4,...,1210,0,1930,0,98112,47.6317,-122.301,1560,6000,0
1604590230,2015-04-24,800000.0,4,2.50,2900,18303,2.0,0,0,4,...,2900,0,1994,0,98075,47.5981,-122.030,2900,18303,0

### 1.3 Создайте признаки года продажи, месяца продажи

In [7]:
df['year_of_sale'] =pd.DatetimeIndex(df['date']).year
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale
id,,,,,,,,,,,,,,,,,,,,,
1566100130,2014-08-20,319000.0,2,1.0,780,8271,1.0,0,0,4,...,0,1924,0,98115,47.7,-122.3,2220,8271,0,2014

In [8]:
df['month_of_sale'] =pd.DatetimeIndex(df['date']).month
df.sample()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,,,
1788700070,2014-06-27,170000.0,2,1.0,810,8424,1.0,0,0,4,...,1959,0,98023,47.3286,-122.346,820,8424,0,2014,6

### 1.4 Удалите признаки date, zipcode, lat, long

In [9]:
df.drop(columns=['date', 'zipcode', 'lat', 'long'], inplace=True)
df.sample(5)

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
id,,,,,,,,,,,,,,,,,,,
326049058,464500.0,5,1.50,2940,13425,1.0,0,0,3,8,1470,1470,1955,0,1580,8200,0,2015,2
9407102460,178500.0,3,1.75,1120,10450,1.0,0,0,3,7,1120,0,1973,0,1250,10414,0,2015,3
6414100133,337000.0,3,1.00,1070,6109,1.0,0,0,5,7,1070,0,1951,0,1170,7200,0,2014,5
2425039017,808250.0,3,2.00,1750,2640,1.0,0,0,3,8,1010,740,1914,2005,1750,4560,91,2014,9
6600220300,600000.0,4,2.50,2230,12753,1.0,0,0,4,7,1180,1050,1981,0,1860,12753,0,2014,9

## Условие 2: 2 задача
Создайте датафрейм с клиентами:
clients = pd.DataFrame({
'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295,
939, 3840, 280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242,
2068, 4929, 1384, 1589, 3317, 2260, 1727, 1764, 1611, 1474],
'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060,
1189000207, 6821600300, 7137950720, 9510920050, 6131600255,
5428000070, 1788800910, 8100400160, 3123049142, 6306800010,
5083000375, 7920100025, 1951600150, 809001400, 339600110,
1622049154, 1099600250, 8563000110, 2768100205, 3995700435,
8861700030, 3303980210, 7731100066, 8146100580, 825069097,
3889100029, 9524100196]
})

In [10]:
clients = pd.DataFrame({ 'client_id': [1459, 4684, 3498, 3942, 4535, 2308, 2866, 2765, 1472, 4236, 2295, 939, 3840,
                                       280, 20, 4332, 3475, 4213, 3113, 4809, 2134, 2242, 2068, 4929, 1384, 1589,
                                       3317, 2260, 1727, 1764, 1611, 1474],
                          'house_id': [8965450190, 6823100225, 5104540330, 2131701075, 1522700060, 1189000207, 6821600300,
                                       7137950720, 9510920050, 6131600255, 5428000070, 1788800910, 8100400160, 3123049142,
                                       6306800010, 5083000375, 7920100025, 1951600150, 809001400, 339600110, 1622049154,
                                       1099600250, 8563000110, 2768100205, 3995700435, 8861700030, 3303980210, 7731100066,
                                       8146100580, 825069097, 3889100029, 9524100196] })
clients.set_index('house_id', inplace=True)
clients.head()

            client_id
house_id
8965450190       1459
6823100225       4684
5104540330       3498
2131701075       3942
1522700060       4535

### 2.1 Присоедините к таблице clients данные по домам через метод join

In [11]:
joined = clients.join(df)
joined

,client_id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
339600110,4809,395000.0,3,2.50,1610,3755,2.0,0,0,3,7,1610,0,1987,0,1300,3823,0,2014,9
809001400,3113,925000.0,3,1.00,1630,3200,1.5,0,0,4,8,1630,0,1912,0,1710,3600,0,2014,9
825069097,1764,770000.0,3,2.50,2650,40705,2.0,0,0,3,9,2650,0,1994,0,2550,42625,0,2014,6
1099600250,2242,260000.0,3,1.75,1710,6400,1.0,0,0,4,7,1240,470,1976,0,1600,6400,0,2014,12
1189000207,2308,387000.0,2,2.50,1170,1394,2.0,0,0,3,8,1170,0,2001,0,1250,3136,0,2014,10
1522700060,4535,518000.0,4,2.75,2520,14021,2.0,0,0,3,9,2520,0,1999,0,2330,14007,0,2014,6
1622049154,2134,289900.0,3,1.75,1899,11325,2.0,0,0,3,7,1899,0,1943,2005,2000,10454,62,2014,12
1788800910,939,190000.0,3,1.00,1200,10458,1.0,0,0,4,6,1200,0,1961,0,1160,9000,0,2014,10
1951600150,4213,180000.0,3,1.00,1610,8500,1.5,0,0,3,7,1610,0,1959,0,1070,8750,0,2015,4
2131701075,3942,420000.0,3,1.75,1720,5000,1.5,0,0,3,8,1720,0,1932,2009,1410,8300,77,2014,12
2768100205,4929,519000.0,4,2.50,1950,2617,1.5,0,0,4,7,1250,700,1910,0,1520,1438,0,2014,6
3123049142,280,452000.0,3,2.25,2600,14810,1.0,0,2,4,8,1490,1110,1956,0,2450,16715,0,2014,8
3303980210,3317,1115000.0,4,3.75,4040,14212,2.0,0,0,3,11,4040,0,2002,0,3940,14212,0,2015,4
3889100029,1611,810000.0,3,2.50,2670,10481,2.0,0,0,3,9,2670,0,2003,0,2620,8895,0,2014,6
3995700435,1384,265000.0,4,3.00,1940,8170,1.0,0,0,4,7,1940,0,1948,0,1310,8169,0,2014,7
5083000375,4332,170000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2014,10
5083000375,4332,235000.0,3,1.00,1310,9529,1.0,0,0,3,7,1310,0,1956,0,1330,9529,0,2015,3
5104540330,3498,679000.0,4,2.50,3680,7236,2.0,0,0,3,10,3680,0,2006,0,3310,7180,0,2015,5
5428000070,2295,770000.0,5,3.50,4750,8234,2.0,0,2,3,10,3350,1400,2013,0,2160,14496,0,2015,5
6131600255,4236,202500.0,3,2.00,1540,8316,1.0,0,0,5,6,1540,0,1954,0,1250,8316,0,2014,12
6306800010,20,436472.0,4,2.50,2692,8392,2.0,0,0,3,9,2692,0,2014,0,2574,14446,0,2014,8
6821600300,2866,886000.0,3,2.25,2380,6000,2.0,0,0,5,9,1650,730,1931,0,2000,6000,0,2015,3
6823100225,4684,700000.0,4,1.75,1870,6000,1.0,0,0,5,8,1670,200,1949,0,1710,6000,0,2015,4
7137950720,2765,339100.0,4,2.50,2350,10655,2.0,0,0,3,8,2350,0,1992,0,2210,7028,0,2015,3
7731100066,2260,545000.0,3,1.00,1510,5000,1.5,0,0,3,7,1510,0,1909,0,1680,4000,0,2014,6
7920100025,3475,450000.0,2,1.00,740,5100,1.0,0,0,4,7,740,0,1947,0,920,5100,0,2015,4
8100400160,3840,700000.0,3,2.25,2330,11424,2.0,0,0,4,8,2330,0,1984,0,2050,11448,0,2015,4
8146100580,1727,765000.0,3,1.00,1220,7585,1.0,0,0,4,7,1220,0,1954,0,1380,8918,0,2014,10
8563000110,2068,427000.0,4,1.75,1460,9750,1.0,0,0,4,7,1460,0,1967,0,1820,9840,0,2015,4
8861700030,1589,510000.0,3,1.50,2400,10275,1.0,0,0,4,8,1540,860,1964,0,2380,10125,0,2014,12
8965450190,1459,295000.0,3,2.50,1500,3060,2.0,0,0,3,7,1500,0,1994,0,2700,7734,0,2015,2
9510920050,1472,725000.0,3,2.50,2980,16996,2.0,0,0,3,10,2980,0,1992,0,2980,15438,0,2014,9
9524100196,1474,239000.0,2,1.50,680,772,2.0,0,0,3,7,680,0,2005,0,690,1059,0,2014,11

In [12]:
df.reset_index(inplace=True)
clients.reset_index(inplace=True)

### 2.2 Присоедините к таблице clients данные по домам через метод merge
Это нужно, чтобы понимать, какие дома покупались клиентами
house_id - это индексы датафрейма с домами

In [13]:
merged = clients.merge(df, left_on='house_id', right_on='id')
merged

,house_id,client_id,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15,delta_renovated,year_of_sale,month_of_sale
0,8965450190,1459,8965450190,295000.0,3,2.50,1500,3060,2.0,0,...,7,1500,0,1994,0,2700,7734,0,2015,2
1,6823100225,4684,6823100225,700000.0,4,1.75,1870,6000,1.0,0,...,8,1670,200,1949,0,1710,6000,0,2015,4
2,5104540330,3498,5104540330,679000.0,4,2.50,3680,7236,2.0,0,...,10,3680,0,2006,0,3310,7180,0,2015,5
3,2131701075,3942,2131701075,420000.0,3,1.75,1720,5000,1.5,0,...,8,1720,0,1932,2009,1410,8300,77,2014,12
4,1522700060,4535,1522700060,518000.0,4,2.75,2520,14021,2.0,0,...,9,2520,0,1999,0,2330,14007,0,2014,6
5,1189000207,2308,1189000207,387000.0,2,2.50,1170,1394,2.0,0,...,8,1170,0,2001,0,1250,3136,0,2014,10
6,6821600300,2866,6821600300,886000.0,3,2.25,2380,6000,2.0,0,...,9,1650,730,1931,0,2000,6000,0,2015,3
7,7137950720,2765,7137950720,339100.0,4,2.50,2350,10655,2.0,0,...,8,2350,0,1992,0,2210,7028,0,2015,3
8,9510920050,1472,9510920050,725000.0,3,2.50,2980,16996,2.0,0,...,10,2980,0,1992,0,2980,15438,0,2014,9
9,6131600255,4236,6131600255,202500.0,3,2.00,1540,8316,1.0,0,...,6,1540,0,1954,0,1250,8316,0,2014,12
10,5428000070,2295,5428000070,770000.0,5,3.50,4750,8234,2.0,0,...,10,3350,1400,2013,0,2160,14496,0,2015,5
11,1788800910,939,1788800910,190000.0,3,1.00,1200,10458,1.0,0,...,6,1200,0,1961,0,1160,9000,0,2014,10
12,8100400160,3840,8100400160,700000.0,3,2.25,2330,11424,2.0,0,...,8,2330,0,1984,0,2050,11448,0,2015,4
13,3123049142,280,3123049142,452000.0,3,2.25,2600,14810,1.0,0,...,8,1490,1110,1956,0,2450,16715,0,2014,8
14,6306800010,20,6306800010,436472.0,4,2.50,2692,8392,2.0,0,...,9,2692,0,2014,0,2574,14446,0,2014,8
15,5083000375,4332,5083000375,170000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2014,10
16,5083000375,4332,5083000375,235000.0,3,1.00,1310,9529,1.0,0,...,7,1310,0,1956,0,1330,9529,0,2015,3
17,7920100025,3475,7920100025,450000.0,2,1.00,740,5100,1.0,0,...,7,740,0,1947,0,920,5100,0,2015,4
18,1951600150,4213,1951600150,180000.0,3,1.00,1610,8500,1.5,0,...,7,1610,0,1959,0,1070,8750,0,2015,4
19,809001400,3113,809001400,925000.0,3,1.00,1630,3200,1.5,0,...,8,1630,0,1912,0,1710,3600,0,2014,9
20,339600110,4809,339600110,395000.0,3,2.50,1610,3755,2.0,0,...,7,1610,0,1987,0,1300,3823,0,2014,9
21,1622049154,2134,1622049154,289900.0,3,1.75,1899,11325,2.0,0,...,7,1899,0,1943,2005,2000,10454,62,2014,12
22,1099600250,2242,1099600250,260000.0,3,1.75,1710,6400,1.0,0,...,7,1240,470,1976,0,1600,6400,0,2014,12
23,8563000110,2068,8563000110,427000.0,4,1.75,1460,9750,1.0,0,...,7,1460,0,1967,0,1820,9840,0,2015,4
24,2768100205,4929,2768100205,519000.0,4,2.50,1950,2617,1.5,0,...,7,1250,700,1910,0,1520,1438,0,2014,6
25,3995700435,1384,3995700435,265000.0,4,3.00,1940,8170,1.0,0,...,7,1940,0,1948,0,1310,8169,0,2014,7
26,8861700030,1589,8861700030,510000.0,3,1.50,2400,10275,1.0,0,...,8,1540,860,1964,0,2380,10125,0,2014,12
27,3303980210,3317,3303980210,1115000.0,4,3.75,4040,14212,2.0,0,...,11,4040,0,2002,0,3940,14212,0,2015,4
28,7731100066,2260,7731100066,545000.0,3,1.00,1510,5000,1.5,0,...,7,1510,0,1909,0,1680,4000,0,2014,6
29,8146100580,1727,8146100580,765000.0,3,1.00,1220,7585,1.0,0,...,7,1220,0,1954,0,1380,8918,0,2014,10
30,825069097,1764,825069097,770000.0,3,2.50,2650,40705,2.0,0,...,9,2650,0,1994,0,2550,42625,0,2014,6
31,3889100029,1611,3889100029,810000.0,3,2.50,2670,10481,2.0,0,...,9,2670,0,2003,0,2620,8895,0,2014,6
32,9524100196,1474,9524100196,239000.0,2,1.50,680,772,2.0,0,...,7,680,0,2005,0,690,1059,0,2014,11

## Условие 3: 3 задача
Составьте несколько сводных таблиц
### 3.1 Найдите среднюю стоимость домов в зависимости от количества спален

In [14]:
pd.options.display.float_format = '{:,.3f}'.format
df.groupby('bedrooms').agg({'price': 'mean'}).sort_values('price')

                 price
bedrooms
1          317,642.884
2          401,372.682
0          409,503.846
3          466,232.078
11         520,000.000
4          635,419.504
33         640,000.000
5          786,599.829
10         819,333.333
6          825,520.636
9          893,999.833
7          951,184.658
8        1,105,076.923

### 3.2 Найдите минимальную, среднюю и максимальную стоимости домов в зависимости от состояния дома

In [15]:
df.groupby('condition').agg({'price': ['min', 'mean', 'max']})

                price
                  min        mean           max
condition
1          78,000.000 334,431.667 1,500,000.000
2          80,000.000 327,287.145 2,555,000.000
3          75,000.000 542,012.578 7,062,500.000
4          89,000.000 521,200.390 7,700,000.000
5         110,000.000 612,418.089 3,650,000.000

### 3.3 Постройте таблицу с подсчетом количества домов в данных в зависимости от вида на набережную и оценкой вида

In [20]:
df.pivot_table(index = 'waterfront', columns='view', aggfunc='count', values='sqft_lot', fill_value= 0)

view            0    1    2    3    4
waterfront
0           19489  331  955  491  184
1               0    1    8   19  135

### 3.4 Каких домов в зависимости от этажности и количества спален больше?

In [21]:

pd.crosstab(index=df['floors'], columns=df['bedrooms'])

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.000      4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.500      0   21   182   786   698  185   30   7   1   0   0   0   0
2.000      6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.500      0    1     5    56    58   23   14   2   0   2   0   0   0
3.000      2    3   123   405    61   13    5   1   0   0   0   0   0
3.500      1    0     2     4     0    0    0   0   1   0   0   0   0

In [22]:
df.pivot_table(index = 'floors', columns='bedrooms', aggfunc='count', values='sqft_lot', fill_value= 0)

bedrooms  0    1     2     3     4    5    6   7   8   9   10  11  33
floors
1.000      4  162  1951  5455  2383  605  104   9   5   0   1   0   1
1.500      0   21   182   786   698  185   30   7   1   0   0   0   0
2.000      6   12   497  3118  3682  775  119  19   6   4   2   1   0
2.500      0    1     5    56    58   23   14   2   0   2   0   0   0
3.000      2    3   123   405    61   13    5   1   0   0   0   0   0
3.500      1    0     2     4     0    0    0   0   1   0   0   0   0

Больше всего одноэтажных домов с тремя спальнями

### 3.5 Постройте таблицу с подсчетом медианной стоимости домов в данных в зависимости от состояния дома и оценки дома

In [27]:
df.groupby(['condition', 'grade']).agg({'price': 'median'}).unstack('grade').fillna(0)

                price                                                  \
grade              1           3           4           5           6
condition
1         142,000.000       0.000 150,000.000 190,000.000 255,000.000
2               0.000 280,000.000 145,000.000 180,000.000 235,000.000
3               0.000  75,000.000 205,000.000 234,475.000 265,000.000
4               0.000       0.000 238,525.000 229,975.000 295,000.000
5               0.000 262,000.000       0.000 227,450.000 285,475.000

                                                                             \
grade              7           8             9             10            11
condition
1         403,500.000 932,500.000         0.000         0.000         0.000
2         305,000.000 429,000.000   715,000.000 1,752,500.000         0.000
3         357,500.000 485,000.000   689,000.000   890,000.000 1,209,500.000
4         390,000.000 571,250.000   823,500.000 1,030,000.000 1,685,000.000
5         456,000.000 696,000.000 1,078,000.000 1,650,000.000 2,050,000.000


grade                12            13
condition
1                 0.000         0.000
2                 0.000         0.000
3         1,807,500.000 2,888,000.000
4         2,125,000.000 5,750,000.000
5         1,990,000.000         0.000